
@{
    ViewBag.Title = "AboutUs";
}


<section id="AboutUs" class="about">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            @*<h2>Team</h2>*@
            <p>The Cala Wellness Team</p>
        </header>

        <div class="row gy-4">

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="member-img">
                        @*<img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>*@
                    </div>
                    <div class="member-info">
                        <img src="~/Content/assets/img/bio1.png" class="img-fluid" style="max-height:500px; border:double" />
                        <h4>Anna Tonsing LCSW-I</h4>
                        <span>Operations Manager/Therapist/Coach</span>
                        <p>Anna Tonsing is an Army veteran who worked in aviation prior to returning to school and completing a BA in Psychology from the University of Hawaii.  She then decided to continue her education and graduated with a Masters degree from University of Southern California in Clinical Social Work, with a sub-concentration in Clinical Military Social Work.  <br><br>Anna's areas of specialty include life transitions, trauma, grief, depression, PTSD, adjustment disorders and substance abuse.  Anna provides a holistic approach helping clients safely process issues without judgement while utilizing their strengths to achieve their personal goals.  Anna is a Registered Clinical Social Work Intern in the state of Florida, ISW15040 and Certified Sex Therapy Informed Professional (CSTIP).</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <div class="member-img">
                        
                    </div>
                    <div class="member-info">
                        <img src="~/Content/assets/img/bio4.png" class="img-fluid" style="max-height:500px; border:double"/>
                        <h4>Alyssa Thaxton LCSW</h4>
                        <span>Clinical Supervisor/Therapist</span>
                        <p>Alyssa Thaxton attended Rutgers University graduating with a BA in Psychology, deciding to continue her education, she then attended Rider University to obtain a teaching certificate.  Teaching middle school kids for five years was rewarding but she felt she was being pulled to a different career that would continue to make a difference.  <br><br>Alyssa decided to apply to the University of Georgia and sought a Masters degree in Social Work, upon graduation she made the decision to focus her career on Substance Abuse and trauma recovery.  Alysss is currently licensed in FL, GA and NV and is a qualified supervisor in FL as well as as GA, holding a National Clinical Supervisor Endorsement with NAADAC.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300" style="align-content:center">
                <div class="member">
                    <div class="member-img">
                       
                    </div>
                    <div class="member-info">
                        <img src="~/Content/assets/img/bio2.png" class="img-fluid" style="max-height:500px; border:double" />
                        <h4>Tim Beagle LCSW-I</h4>
                        <span>Therapist/Coach</span>
                        <p>Tim Beagle attended Northern Kentucky University graduating with a BA in Human Sciences and Addictions Counseling.  He then decided to continue his education at Northern Kentucky University completing a Masters Degree in Clinical Social Work.  Tim has extensive experience in the mental health field which gave him helpful insight assisting others overcome grief, anxiety, depression, relationship and boundary issues. <br><br> Tim also has extensive experience working with members ofhte LGTBQIA+ community and can provide first hand knowledge how to navigate challenges, members of this community may be or have experienced.  <br><br>Time Beagle is a Registered Clinical Social Work Intern in the State of Florida, ISW17253</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" style:"centered" data-aos="fade-up" data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                       
                    </div>
                    <div class="member-info">
                        <img src="~/Content/assets/img/bio3.png" class="img-fluid" style="max-height:500px; border:double"/>
                        <h4>Fashen Wilson LCSW-I</h4>
                        <span>Therapist/Coach</span>
                        <p>Fashen Wilson attended Florida Atlantic University graduating with a BA in Social Work.  She then decided to continue her education at Barry University completing a Masters degree in Clinical Social Work.  <br><br>Fashen has focused her career on substance abuse, depression, anxiety and those who have experienced intimate partner violence.  Fashen is passionate about assisting clients build self-awareness and self-confidence through Cognitive Behavioral Therapy and Mindfulness techniques to achieve positive treatment outcomes. <br><br> Fashen Wilson is a Registered Clinical Social Work Intern in the state of Florida, ISW14780.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section><!-- End Team Section -->
<!-- End About Section -->
