@{
    ViewBag.Title = "Contact";
}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            @*<h2>Contact</h2>*@

        </header>

<div class="row gy-4">

    <div class="col-lg-12">

        <div class="row gy-4">
            <div class="col-md-6">
                <div class="info-box">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Availability:</h3>
                    <p>Therapy Options: <strong>In Person</strong> - Jacksonville, FL area - <strong>Virtual</strong>: Florida Only</p>
                    <p>Life Coaching Options: <strong>In Person</strong> - Jacksonville, FL area - <strong>Virtual</strong>: Nationwide</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-box">
                    <i class="bi bi-telephone"></i>
                    <h3>Call/Text:</h3>
                    <br />
                    <a href="tel: 19043195583">1 (904) 319-5583</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-box">
                    <i class="bi bi-envelope"></i>
                    <h3>Email:</h3>
                    <a href="mailto: calawellness1@gmail.com">calawellness1@gmail.com</a>
                    <p style="font-size: 14px">Feel free to contact me via my Facebook page also: &nbsp; <a href="https://www.facebook.com/people/Calla-Wellness/100086453001863/" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-box">
                    <i class="bi bi-clock"></i>
                    <h3>Availablity:</h3>
                    <p>
                        Monday - Friday<br />
                        9:00AM - 05:00PM
                    </p>
                </div>
            </div>
        </div>

    </div>



</div>

    </div>

</section>