@{
    ViewBag.Title = "Home Page";
}


<main id="main">
    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="~/Content/assets/img/Cala Wellness (5).png" style="border-radius: 50%; box-shadow: 0 70px 40px rgba(0,0,0,.1);" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center" style="font-family: 'Dancing Script'">
                    <h1 data-aos="fade-up">Cala Wellness <br /> <p style="font-size:40px; font-family: 'Dancing Script'">Therapy Services/Life Coaching</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">Everyday is a chance to get better, don't waste it.</h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            @*<a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                    <span>Get Started</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>*@
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section><!-- End Hero -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

        <div class="container" data-aos="fade-up">
            <div class="row gx-0">
                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="~/Content/assets/img/tonsingclear.png" style="border: 5px solid #7851a9; max-height: 650px;" ; class="img-fluid " alt="picture of life coach">
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        @*<h3>Cala Wellness</h3>*@
                        <h2>A Little About Me</h2>
                        <p style="font-family: Poppins">
                            I am an Army Veteran that worked in the Aviation branch as a mechanic for 15 years.<br /><br />
                            Post-military, I completed my BA in Psychology from
                            the University of Hawaii and then graduated from the Clinical Social Work master’s program
                            at University of Southern California. My Studies primarily focused on adolescents,
                            adults and families with an additional sub concentration in Clinical Military Social Work.<br /><br />
                            Since graduating from USC, I have had the opportunity to work with a variety of
                            populations including: at risk youth, the Reentry population, individuals dealing with
                            with substance abuse and clients struggling with mental
                            health disorders.<br /><br /> My main objective has always been to assist
                            individuals in identifying their strengths and utilizing them to strive for healthy positive
                            outcomes in their lives.

                        </p>
                        @*<div class="text-center text-lg-start">
                                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                                    <span>Read More</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>*@
                    </div>
                </div>


            </div>
        </div>

    </section><!-- End About Section -->
    <section id="about" class="about">

        <div class="container" data-aos="fade-up">
            <div class="row gx-0">

                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        @*<h3>Cala Wellness</h3>*@
                        <h2>What is a life coach?</h2>
                        <p style="font-family: ">
                            Life coaching is creating conversation between coach and coachee that can
                            facilitate profound change through choices, questions, reflections, and new
                            behaviors. <br /><br />As part of this process, clients are empowered to make bold decisions
                            about their life, work, relationships, and more.
                        </p>

                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="~/Content/assets/img/talking2.jpg" style="border: 5px solid #7851a9" ; class="img-fluid" alt="women talking">
                </div>

            </div>
        </div>

    </section><!-- End About Section -->
    <!-- ======= Therapy Services Section Section ======= -->
    <section id="therapy" class="services">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                @*<h2>Services</h2>*@
                <p>How can a Therapist help me?</p>
            </header>

            <div class="row gy-4" style="font-family: Poppins">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-box blue">
                        <i class="ri-discuss-line icon"></i>
                        @*<h3>Nesciunt Mete</h3>*@
                        <p>Assist in healing past traumas and provide psychoeducation to restructure your mindset and behaviors</p>
                        @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-box green">
                        <i class="ri-discuss-line icon"></i>
                        @*<h3>Eosle Commodi</h3>*@
                        <p>Help gain a deeper understanding of how current behaviors were developed through past experiences and how to restructure thought patterns and behaviors for positive outcomes</p>
                        @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-box orange">
                        <i class="ri-discuss-line icon"></i>
                        @*<h3>Ledo Markt</h3>*@
                        <p>Help identify mental health disorders, i.e. PTSD, depression, anxiety, personality disorders, substance abuse etc</p>
                        @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-box red">
                        <i class="ri-discuss-line icon"></i>
                        @*<h3>Asperiores Commodi</h3>*@
                        <p>Assist in developing healthy coping skills to manage mental health disorders</p>
                        @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-box purple">
                        <i class="ri-discuss-line icon"></i>
                        @*<h3>Velit Doloremque.</h3>*@
                        <p>Provides a safe space to explore thoughts, feelings and concerns</p>
                        @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                    <div class="service-box pink">
                        <i class="ri-discuss-line icon"></i>
                        @*<h3>Dolori Architecto</h3>*@
                        <p>Assist in managing life stressors that can have major impacts on the client: grief, life transitions, divorce etc</p>
                        @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                @*<h2>Services</h2>*@
                <p>How can a life coach help me?</p>
            </header>

            <div class="row gy-4" style="font-family: Poppins">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-box blue">
                        <i class="ri-discuss-line icon"></i>
                        @*<h3>Nesciunt Mete</h3>*@
                        <p>Identify and gain clarity around your purpose and passions in life</p>
                        @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-box green">
                        <i class="ri-discuss-line icon"></i>
                        @*<h3>Eosle Commodi</h3>*@
                        <p>Better equipping the client with skills needed for personal growth and success</p>
                        @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-box orange">
                        <i class="ri-discuss-line icon"></i>
                        @*<h3>Ledo Markt</h3>*@
                        <p>Assist in goal setting and making action plan to achieve goals</p>
                        @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-box red">
                        <i class="ri-discuss-line icon"></i>
                        @*<h3>Asperiores Commodi</h3>*@
                        <p>Provide support and additional accountability with goals</p>
                        @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-box purple">
                        <i class="ri-discuss-line icon"></i>
                        @*<h3>Velit Doloremque.</h3>*@
                        <p>Develop deeper understanding of self</p>
                        @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                    <div class="service-box pink">
                        <i class="ri-discuss-line icon"></i>
                        @*<h3>Dolori Architecto</h3>*@
                        <p>Finding purpose and meaning in your life</p>
                        @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                    </div>
                </div>

            </div>

        </div>

    </section><!-- End Services Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                @*<h2>Pricing</h2>*@
                <p>Coming Soon</p>
            </header>

            <div class="row gy-4" data-aos="fade-left">


                @*<div class="col-lg-6 col-md-12" data-aos="zoom-in" data-aos-delay="200">
                    <div class="box">
                        <span class="featured">Coming Soon</span>

                        <ul>
                            <li><i class="bi-bookmark-check">&nbsp; </i>Individual Therapy</li>
                            <li><i class="bi-bookmark-check">&nbsp;</i>Couples Therapy</li>
                            <li><i class="bi-bookmark-check">&nbsp;</i>Family Therapy</li>
                            <li><i class="bi-bookmark-check">&nbsp;</i>Virtual/Inperson based on client preference</li>
                        </ul>
                        <a href="mailto: calawellness1@gmail.com" class="btn-buy">Inquire</a>
                    </div>
                </div>*@

                <div class="col-lg-12 col-md-12" data-aos="zoom-in" data-aos-delay="200">
                    <div class="box">
                        <span class="featured">Coming Soon</span>
                        
                        <ul>
                            <li><i class="bi-bookmark-check">&nbsp;</i>Women’s support groups:</li>
                            <li><i class="bi-bookmark-check">&nbsp;</i>Divorce</li>
                            <li><i class="bi-bookmark-check">&nbsp;</i>Trauma Focused Groups</li>
                            <li><i class="bi-bookmark-check">&nbsp;</i>Virtual/Inperson based on client preference</li>
                        </ul>
                        <a href="mailto: calawellness1@gmail.com" class="btn-buy">Inquire</a>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq" style="font-family: Poppins">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                @*<h2>F.A.Q</h2>*@
                <p>F.A.Q.</p>
            </header>

            <div class="row">
                <div class="col-lg-6">
                    <!-- F.A.Q List 1-->
                    <div class="accordion accordion-flush" id="faqlist1">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                                    Do you accept insurance?
                                </button>
                            </h2>
                            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    Cala Wellness currently is not currently accepting insurance as a form of payment.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                                    I want to change some of my habits
                                </button>
                            </h2>
                            <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    Life coaching can help you with creating change.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                                    I am looking for meaning in my life!
                                </button>
                            </h2>
                            <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    A life coach can help you with assessing who you are and where you are going.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6">

                    <!-- F.A.Q List 2-->
                    <div class="accordion accordion-flush" id="faqlist2">

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                                    Payment Options
                                </button>
                            </h2>
                            <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                <div class="accordion-body">
                                    Currently Cala Wellness can take payment via Credit Card, Zelle, Venmo and cash.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                                    When is payment for services due?
                                </button>
                            </h2>
                            <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                <div class="accordion-body">
                                    Payment for services is due at time of service.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                                    Therapy versus coaching?
                                </button>
                            </h2>
                            <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                <div class="accordion-body">
                                    Therapy focuses on mental health and emotional healing, while life coaching focuses on setting and achieving goals.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </section><!-- End F.A.Q Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="clients" class="clients" style="font-family: Poppins">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                @*<h2>F.A.Q</h2>*@
                <p>Testimonials</p>
            </header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="face front-face">
                                <img src="~/Content/assets/img/3.png"
                                     alt="" class="profile">
                                <div class="pt-3 text-uppercase name">
                                    "Judith"
                                </div>

                            </div>
                            <div class="face back-face">
                                <span class="fas fa-quote-left"></span>
                                <div class="testimonial">
                                    <em>
                                        "Thank you Anna for being here for me during this time I’m going through. I appreciate all your help and
                                        efforts. Thank you."<br /><br />
                                        "Love our talks, super helpful!"
                                    </em>
                                </div>
                                <span class="fas fa-quote-right"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="face front-face">
                                <img src="~/Content/assets/img/3.png"
                                     alt="" class="profile">
                                <div class="pt-3 text-uppercase name">
                                    "Chrissie"
                                </div>

                            </div>
                            <div class="face back-face">
                                <span class="fas fa-quote-left"></span>
                                <div class="testimonial">
                                    <em>
                                        "Anna is great, she listens and gives honest feedback and support during coaching sessions as well as
                                        taking the time to answer my questions and offer additional support outlets between our sessions."
                                    </em>
                                </div>
                                <span class="fas fa-quote-right"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="face front-face">
                                <img src="~/Content/assets/img/3.png"
                                     alt="" class="profile">
                                <div class="pt-3 text-uppercase name">
                                    "Marissa"
                                </div>

                            </div>
                            <div class="face back-face">
                                <span class="fas fa-quote-left"></span>
                                <div class="testimonial">
                                    <em>
                                        "Anna is great. She really listens and has a way to make you feel at ease."<br /><br />
                                        "She does an amazing job anytime I’m with her."
                                    </em>
                                </div>
                                <span class="fas fa-quote-right"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                @*<h2>Contact</h2>*@
                <p>Contact</p>
            </header>

            <div class="row gy-4">

                <div class="col-lg-12">

                    <div class="row gy-4">
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-geo-alt"></i>
                                <h3>Availability:</h3>
                                <p>Therapy Options: <strong>In Person</strong> - Jacksonville, FL area - <strong>Virtual</strong>: Florida Only</p>
                                <p>Life Coaching Options: <strong>In Person</strong> - Jacksonville, FL area - <strong>Virtual</strong>: Nationwide</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-telephone"></i>
                                <h3>Call/Text:</h3>
                                <br />
                                <a href="tel: 19043195583">1 (904) 319-5583</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-envelope"></i>
                                <h3>Email:</h3>
                                <a href="mailto: calawellness1@gmail.com">calawellness1@gmail.com</a>
                                <p style="font-size: 14px">Feel free to contact me via my Facebook page also: &nbsp; <a href="https://www.facebook.com/people/Calla-Wellness/100086453001863/" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-clock"></i>
                                <h3>Availablity:</h3>
                                <p>
                                    Monday - Friday<br />
                                    9:00AM - 05:00PM
                                </p>
                            </div>
                        </div>
                    </div>

                </div>



            </div>

        </div>

    </section><!-- End Contact Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">





    <div class="container">
        <div class="copyright">
            @*&copy; Copyright <strong><span>FlexStart</span></strong>. All Rights Reserved*@
            <p>Licensure <strong>#ISW15040</strong> under supervision of <strong>Alyssa Thaxton SW14679</strong> - Veteran Owned and Operated<p></p>
            <p style="text-align: center">
                Copyright &copy;
                <script>document.write(new Date().getFullYear())</script> Cala Wellness
            </p>
        </div>

    </div>
</footer><!-- End Footer -->