
@{
    ViewBag.Title = "Pricing";
}

<!-- ======= Therapy Services Section Section ======= -->

<section id="faq" class="faq" style="font-family: Poppins">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            @*<h2>F.A.Q</h2>*@
            <p>F.A.Q.</p>
        </header>

        <div class="row">
            <div class="col-lg-6">
                <!-- F.A.Q List 1-->
                <div class="accordion accordion-flush" id="faqlist1">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                                Do you accept insurance?
                            </button>
                        </h2>
                        <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                            <div class="accordion-body">
                                Cala Wellness currently is not currently accepting insurance as a form of payment.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                                I want to change some of my habits
                            </button>
                        </h2>
                        <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                            <div class="accordion-body">
                                Life coaching can help you with creating change.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                                I am looking for meaning in my life!
                            </button>
                        </h2>
                        <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                            <div class="accordion-body">
                                A life coach can help you with assessing who you are and where you are going.
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-6">

                <!-- F.A.Q List 2-->
                <div class="accordion accordion-flush" id="faqlist2">

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                                Payment Options
                            </button>
                        </h2>
                        <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                            <div class="accordion-body">
                                Currently Cala Wellness can take payment via Credit Card, Zelle, Venmo and cash.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                                When is payment for services due?
                            </button>
                        </h2>
                        <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                            <div class="accordion-body">
                                Payment for services is due at time of service.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                                Therapy versus coaching?
                            </button>
                        </h2>
                        <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                            <div class="accordion-body">
                                Therapy focuses on mental health and emotional healing, while life coaching focuses on setting and achieving goals.
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</section><!-- End F.A.Q Section -->
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            @*<h2>Pricing</h2>*@
            <p>Coming Soon</p>
        </header>

        <div class="row gy-4" data-aos="fade-left">


            @*<div class="col-lg-6 col-md-12" data-aos="zoom-in" data-aos-delay="200">
                    <div class="box">
                        <span class="featured">Coming Soon</span>

                        <ul>
                            <li><i class="bi-bookmark-check">&nbsp; </i>Individual Therapy</li>
                            <li><i class="bi-bookmark-check">&nbsp;</i>Couples Therapy</li>
                            <li><i class="bi-bookmark-check">&nbsp;</i>Family Therapy</li>
                            <li><i class="bi-bookmark-check">&nbsp;</i>Virtual/Inperson based on client preference</li>
                        </ul>
                        <a href="mailto: calawellness1@gmail.com" class="btn-buy">Inquire</a>
                    </div>
                </div>*@

            <div class="col-lg-12 col-md-12" data-aos="zoom-in" data-aos-delay="200">
                <div class="box">
                    <span class="featured">Coming Soon</span>

                    <ul>
                        <li><i class="bi-bookmark-check">&nbsp;</i>Women’s support groups:</li>
                        <li><i class="bi-bookmark-check">&nbsp;</i>Divorce</li>
                        <li><i class="bi-bookmark-check">&nbsp;</i>Trauma Focused Groups</li>
                        <li><i class="bi-bookmark-check">&nbsp;</i>Virtual/Inperson based on client preference</li>
                    </ul>
                    <a href="mailto: calawellness1@gmail.com" class="btn-buy">Inquire</a>
                </div>
            </div>

        </div>

    </div>

</section>
<!-- ======= F.A.Q Section ======= -->
