
@{
    ViewBag.Title = "Services";
}

<section id="therapy" class="services">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            @*<h2>Services</h2>*@
            <p>How can a Therapist help me?</p>
        </header>

        <div class="row gy-4" style="font-family: Poppins">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-box blue">
                    <i class="ri-discuss-line icon"></i>
                    @*<h3>Nesciunt Mete</h3>*@
                    <p>Assist in healing past traumas and provide psychoeducation to restructure your mindset and behaviors</p>
                    @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-box green">
                    <i class="ri-discuss-line icon"></i>
                    @*<h3>Eosle Commodi</h3>*@
                    <p>Help gain a deeper understanding of how current behaviors were developed through past experiences and how to restructure thought patterns and behaviors for positive outcomes</p>
                    @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-box orange">
                    <i class="ri-discuss-line icon"></i>
                    @*<h3>Ledo Markt</h3>*@
                    <p>Help identify mental health disorders, i.e. PTSD, depression, anxiety, personality disorders, substance abuse etc</p>
                    @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-box red">
                    <i class="ri-discuss-line icon"></i>
                    @*<h3>Asperiores Commodi</h3>*@
                    <p>Assist in developing healthy coping skills to manage mental health disorders</p>
                    @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-box purple">
                    <i class="ri-discuss-line icon"></i>
                    @*<h3>Velit Doloremque.</h3>*@
                    <p>Provides a safe space to explore thoughts, feelings and concerns</p>
                    @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                <div class="service-box pink">
                    <i class="ri-discuss-line icon"></i>
                    @*<h3>Dolori Architecto</h3>*@
                    <p>Assist in managing life stressors that can have major impacts on the client: grief, life transitions, divorce etc</p>
                    @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                </div>
            </div>

        </div>

    </div>

</section>
<!-- ======= Services Section ======= -->
<section id="services" class="services">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            @*<h2>Services</h2>*@
            <p>How can a life coach help me?</p>
        </header>

        <div class="row gy-4" style="font-family: Poppins">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-box blue">
                    <i class="ri-discuss-line icon"></i>
                    @*<h3>Nesciunt Mete</h3>*@
                    <p>Identify and gain clarity around your purpose and passions in life</p>
                    @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-box green">
                    <i class="ri-discuss-line icon"></i>
                    @*<h3>Eosle Commodi</h3>*@
                    <p>Better equipping the client with skills needed for personal growth and success</p>
                    @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-box orange">
                    <i class="ri-discuss-line icon"></i>
                    @*<h3>Ledo Markt</h3>*@
                    <p>Assist in goal setting and making action plan to achieve goals</p>
                    @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-box red">
                    <i class="ri-discuss-line icon"></i>
                    @*<h3>Asperiores Commodi</h3>*@
                    <p>Provide support and additional accountability with goals</p>
                    @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-box purple">
                    <i class="ri-discuss-line icon"></i>
                    @*<h3>Velit Doloremque.</h3>*@
                    <p>Develop deeper understanding of self</p>
                    @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                <div class="service-box pink">
                    <i class="ri-discuss-line icon"></i>
                    @*<h3>Dolori Architecto</h3>*@
                    <p>Finding purpose and meaning in your life</p>
                    @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                </div>
            </div>

        </div>

    </div>

</section><!-- End Services Section -->
