
@{
    ViewBag.Title = "Testimonials";
}

<section id="clients" class="clients" style="font-family: Poppins">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            @*<h2>F.A.Q</h2>*@
            <p>Testimonials</p>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="face front-face">
                            <img src="~/Content/assets/img/3.png"
                                 alt="" class="profile">
                            <div class="pt-3 text-uppercase name">
                                "Judith"
                            </div>

                        </div>
                        <div class="face back-face">
                            <span class="fas fa-quote-left"></span>
                            <div class="testimonial">
                                <em>
                                    "Thank you Anna for being here for me during this time I’m going through. I appreciate all your help and
                                    efforts. Thank you."<br /><br />
                                    "Love our talks, super helpful!"
                                </em>
                            </div>
                            <span class="fas fa-quote-right"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="face front-face">
                            <img src="~/Content/assets/img/3.png"
                                 alt="" class="profile">
                            <div class="pt-3 text-uppercase name">
                                "Chrissie"
                            </div>

                        </div>
                        <div class="face back-face">
                            <span class="fas fa-quote-left"></span>
                            <div class="testimonial">
                                <em>
                                    "Anna is great, she listens and gives honest feedback and support during coaching sessions as well as
                                    taking the time to answer my questions and offer additional support outlets between our sessions."
                                </em>
                            </div>
                            <span class="fas fa-quote-right"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="face front-face">
                            <img src="~/Content/assets/img/3.png"
                                 alt="" class="profile">
                            <div class="pt-3 text-uppercase name">
                                "Marissa"
                            </div>

                        </div>
                        <div class="face back-face">
                            <span class="fas fa-quote-left"></span>
                            <div class="testimonial">
                                <em>
                                    "Anna is great. She really listens and has a way to make you feel at ease."<br /><br />
                                    "She does an amazing job anytime I’m with her."
                                </em>
                            </div>
                            <span class="fas fa-quote-right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- End #main -->
